mixin reviews(title)
  .reviews
    .reviews__visual
      .reviews__title !{ title }
      .reviews__status
        .reviews__number 4.3
        .rating__stars
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star.rating__star-disabled(
            src="/assets/images/icons/star-disabled.svg"
            alt="star-disabled"
          )
      .reviews__rating
        .reviews__items
          .reviews__item
            .reviews__progress
              .rating__stars
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
              <progress max="12" value="8"><progress>
            .reviews__amount 8
          .reviews__item
            .reviews__progress
              .rating__stars
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
              <progress max="12" value="3"><progress>
            .reviews__amount 3
          .reviews__item
            .reviews__progress
              .rating__stars
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
              <progress max="12" value="0"><progress>
            .reviews__amount 0
          .reviews__item
            .reviews__progress
              .rating__stars
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
              <progress max="12" value="0"><progress>
            .reviews__amount 0
          .reviews__item
            .reviews__progress
              .rating__stars
                img.rating__star(
                  src="/assets/images/icons/star-active.svg"
                  alt="star-active"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
                img.rating__star.rating__star-disabled(
                  src="/assets/images/icons/star-disabled.svg"
                  alt="star-disabled"
                )
              <progress max="12" value="1"><progress>
            .reviews__amount 1
        .reviews__right
          .reviews__info User rating is formed from 12 reviews left by other users.
          a.reviews__button.reviews__button-mobile(href="/create-review") Leave сomment
    .reviews__block
      img.reviews__photo(
        src="/assets/images/avatar-small.png"
        alt="avatar-small"
      )
      .reviews__content
        .reviews__header
          h3.reviews__subtitle Regina Miles
          time.reviews__text 5 March
      .reviews__status-min
        .reviews__number 4.0
        .rating__stars
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star.rating__star-disabled(
            src="/assets/images/icons/star-disabled.svg"
            alt="star-disabled"
          )
          .reviews__text.reviews__model-mobile HUAWEI MateBook D14
      .reviews__text.reviews__model The deal went through: “HUAWEI MateBook D14”
      .reviews__footer
        h3.reviews__subtitle Comment
        .reviews__text Great vendor! Agreed to exchange for a phone.
    .reviews__block
      img.reviews__photo(
        src="/assets/images/avatar-small.png"
        alt="avatar-small"
      )
      .reviews__content
        .reviews__header
          h3.reviews__subtitle Regina Miles
          time.reviews__text 5 March
      .reviews__status-min
        .reviews__number 4.0
        .rating__stars
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star.rating__star-disabled(
            src="/assets/images/icons/star-disabled.svg"
            alt="star-disabled"
          )
          .reviews__text.reviews__model-mobile HUAWEI MateBook D14
      .reviews__text.reviews__model The deal went through: “HUAWEI MateBook D14”
      .reviews__footer
        h3.reviews__subtitle Comment
        .reviews__text Great vendor! Agreed to exchange for a phone.
    .reviews__block
      img.reviews__photo(
        src="/assets/images/avatar-small.png"
        alt="avatar-small"
      )
      .reviews__content
        .reviews__header
          h3.reviews__subtitle Regina Miles
          time.reviews__text 5 March
      .reviews__status-min
        .reviews__number 4.0
        .rating__stars
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star(
            src="/assets/images/icons/star-active.svg"
            alt="star-active"
          )
          img.rating__star.rating__star-disabled(
            src="/assets/images/icons/star-disabled.svg"
            alt="star-disabled"
          )
          .reviews__text.reviews__model-mobile HUAWEI MateBook D14
      .reviews__text.reviews__model The deal went through: “HUAWEI MateBook D14”
      .reviews__footer
        h3.reviews__subtitle Comment
        .reviews__text Great vendor! Agreed to exchange for a phone.
    button.reviews__button(type="button") Show more