.category__popup
  .wrapper
    .category__popup__header
      .category__popup__title Categories
      button.category__popup__close(type="button")
        img(src="/assets/images/icons/close-blue.svg" alt="close-blue")
    .category__popup__main
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span All categories
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Property
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Services
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Pets
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        label.category__popup__subblock
          .category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Car & Vehicles
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Parts
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Hobby
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Garden
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Jobs
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Fashion
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span For Kids
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Electronics
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Collecting
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Furniture
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing
      .category__popup__blocks
        label.category__popup__block
          .category__popup__name
            input(type="radio" name="main-cat")
            span Other
          img(
            src="/assets/images/icons/arrow-down-black.svg"
            alt="arrow-down-black"
          )
        .category__popup__subblock
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Transport, transportation
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Garden, landscaping
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Training, courses
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Cleaning
          label.category__popup__name
            input(type="radio" name="sub-cat")
            span Repair and finishing