.profile.create__review
  .wrapper
    .mobile__header
      a(href="#")
        img.chat__header__icon(
          src="/assets/images/icons/arrow-left-blue.svg"
          alt="arrow-left-blue"
        )
    .page-layout
      aside.profile__sidebar
        .profile__sidebar__sticky
          .profile__sidebar__header
            img.profile__sidebar__photo(
              src="/assets/images/user.png"
              alt="user"
            )
            .profile__sidebar__title Lee Kalee
            include ../components/rating.pug
          .profile__sidebar__footer
            button.profile__sidebar__button.profile__sidebar__button-blue(
              type="button"
            ) Send Message
      form.profile__content(action="#")
        h1.page__title.profile__title User announcements
        .profile__block
          h2 What did you discuss?
          a.announcement__card(href="#")
            .announcement__card__left
              .announcement__card__photo
                img(
                  src="/assets/images/announcement-photo.png"
                  alt="announcement-photo"
                )
            .announcement__card__right
              .announcement__card__header
                .announcement__card__header-left
                  h3.announcement__card__title Infiniti fx35 (2005)
                  .announcement__card__price 300 626 ฿
                button.announcement__card__header-right(type="button")
                  img(src="/assets/images/icons/edit-blue.svg" alt="edit-blue")
              .announcement__card__footer
                .announcement__card__adress 2686 สะพาน ยี่สิบสองกรกฎาคม 1 วิไลสักดิ์เหนือ, 38729
                .announcement__card__date 2 hours ago
          .create__review__deal.create__review__subtitle
            h3 How did it all end?
            .filter__labels
              label.filter__label
                input.filter__input(
                  type="radio"
                  name="deal-review"
                  value="The deal went through"
                )
                span.filter__radio The deal went through
              label.filter__label
                input.filter__input(
                  type="radio"
                  name="deal-review"
                  value="The deal fell through"
                )
                span.filter__radio The deal fell through
              label.filter__label
                input.filter__input(
                  type="radio"
                  name="deal-review"
                  value="Didn’t agree"
                )
                span.filter__radio Didn’t agree
              label.filter__label
                input.filter__input(
                  type="radio"
                  name="deal-review"
                  value="Didn’t communicate"
                )
                span.filter__radio Didn’t communicate
            button.create__review__button.create__review__continue(
              type="button"
            ) Continue
          .create__review__rating.create__review__subtitle
            h2 Rating and review
            .create__review__block
              h3.create__review__untitle Grade
              include ../components/stars-change.pug
              .create__review__block.create__review__subtitle
                h3 Сomment
                .profile__textarea
                  textarea(
                    placeholder="Enter description"
                    max="9000"
                    min="80"
                    name="ad-description"
                    required
                  ) The Huawei MateBook D 14 8+512GB Mystic Silver (NbD-WDH9) is equipped with a Full HD IPS display that delivers detailed, high-contrast content. A quad-core Intel processor and 8GB of RAM provide optimal performance when multitasking, editing photos.
                  .profile__textarea__counter
                    span#textarea-value
                    span /
                    span 9000
            .create__review__block.create__review__subtitle
              h3 Add photos
              .create__review__uploads
                .profile__uploads
                  label.profile__upload.profile__upload-main(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
                  label.profile__upload(draggable="true")
                    input(
                      type="file"
                      accept="image/png, image/gif, image/jpeg"
                    )
                    .profile__upload-empty
                    .profile__upload-hover Add photo
              span.profile__block-tip This is optional, but they will make the review more visual.
            button.create__review__button.create__review__button-submit(
              type="submit"
            ) Send