.post__popup
  .wrapper
    .post__popup__header
      .post__popup__left.post__popup__close
        button(type="button")
          img(src="/assets/images/icons/close-blue.svg" alt="close-blue")
      .post__popup__right
        button(type="button")
          img(src="/assets/images/icons/edit-blue.svg" alt="edit-blue")
        button(type="button")
          img(src="/assets/images/icons/trash-blue.svg" alt="trash-blue")
    .post__popup__main
      .post__popup__block
        img.post__popup__img(src="/assets/images/post.png" alt="post")
      .post__popup__block
        .post__popup__title Graphics card gigabyte Radeon RX 5700 XT gaming OC
        .post__popup__price 300 626 ฿
      .post__popup__block
        .post__popup__subtitle Address
        .post__popup__text.post__popup__text-blue 2686 สะพาน ยี่สิบสองกรกฎาคม 1 วิไลสักดิ์เหนือ, 38729
      .post__popup__block
        .post__popup__subtitle Category
        .post__popup__text Car & Vehicle
      .post__popup__block
        .post__popup__subtitle Description
        .post__popup__text Open repair of infrarenal aortic aneurysm or dissection, plus repair of associated arterial trauma, following unsuccessful endovascular repair; aorto-bi-iliac prosthesis
    button.post__popup__button(type="button")
      svg(
        fill="none"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
      )
        path(
          clip-rule="evenodd"
          d="M1.875 3.33333C1.875 2.52792 2.52792 1.875 3.33333 1.875H6.66667C7.01184 1.875 7.29167 2.15482 7.29167 2.5C7.29167 2.84518 7.01184 3.125 6.66667 3.125H3.33333C3.21827 3.125 3.125 3.21827 3.125 3.33333V6.66667C3.125 7.01184 2.84518 7.29167 2.5 7.29167C2.15482 7.29167 1.875 7.01184 1.875 6.66667V3.33333Z"
          fill="white"
          fill-rule="evenodd"
        )
        path(
          clip-rule="evenodd"
          d="M2.5 12.708C2.84518 12.708 3.125 12.9878 3.125 13.333V16.6663C3.125 16.7814 3.21827 16.8747 3.33333 16.8747H6.66667C7.01184 16.8747 7.29167 17.1545 7.29167 17.4997C7.29167 17.8449 7.01184 18.1247 6.66667 18.1247H3.33333C2.52792 18.1247 1.875 17.4718 1.875 16.6663V13.333C1.875 12.9878 2.15482 12.708 2.5 12.708Z"
          fill="white"
          fill-rule="evenodd"
        )
        path(
          clip-rule="evenodd"
          d="M17.4999 12.708C17.8451 12.708 18.1249 12.9878 18.1249 13.333V16.6663C18.1249 17.4718 17.472 18.1247 16.6666 18.1247H13.3333C12.9881 18.1247 12.7083 17.8449 12.7083 17.4997C12.7083 17.1545 12.9881 16.8747 13.3333 16.8747H16.6666C16.7817 16.8747 16.8749 16.7814 16.8749 16.6663V13.333C16.8749 12.9878 17.1547 12.708 17.4999 12.708Z"
          fill="white"
          fill-rule="evenodd"
        )
        path(
          clip-rule="evenodd"
          d="M12.7083 2.5C12.7083 2.15482 12.9881 1.875 13.3333 1.875H16.6666C17.472 1.875 18.1249 2.52792 18.1249 3.33333V6.66667C18.1249 7.01184 17.8451 7.29167 17.4999 7.29167C17.1547 7.29167 16.8749 7.01184 16.8749 6.66667V3.33333C16.8749 3.21827 16.7817 3.125 16.6666 3.125H13.3333C12.9881 3.125 12.7083 2.84518 12.7083 2.5Z"
          fill="white"
          fill-rule="evenodd"
        )
        path(
          clip-rule="evenodd"
          d="M6.04175 10C6.04175 9.65482 6.32157 9.375 6.66675 9.375H13.3334C13.6786 9.375 13.9584 9.65482 13.9584 10C13.9584 10.3452 13.6786 10.625 13.3334 10.625H6.66675C6.32157 10.625 6.04175 10.3452 6.04175 10Z"
          fill="white"
          fill-rule="evenodd"
        )
        path(
          clip-rule="evenodd"
          d="M10 6.04199C10.3452 6.04199 10.625 6.32181 10.625 6.66699V13.3337C10.625 13.6788 10.3452 13.9587 10 13.9587C9.65482 13.9587 9.375 13.6788 9.375 13.3337V6.66699C9.375 6.32181 9.65482 6.04199 10 6.04199Z"
          fill="white"
          fill-rule="evenodd"
        )
      span Post