.profile-edit
  .wrapper
    .mobile__header
      button.profile-edit__close(type="button")
        img.chat__header__icon(
          src="/assets/images/icons/arrow-left-blue.svg"
          alt="arrow-left-blue"
        )
      h1 Profile settings
      button.profile-edit__save(type="button") Save
    .profile__sidebar__img
      img.profile__sidebar__photo(
        src="/assets/images/avatar-big.png"
        alt="avatar-big"
      )
      label.profile__upload.profile__upload-main
        input(type="file" accept="image/png, image/gif, image/jpeg")
    .profile-edit__blocks
      .profile-edit__block
        .profile-edit__header Individual, user number
        .profile-edit__footer
          .profile-edit__value 186 578
      table
        tr
          td Name
          td
            span Regina Miles
            button.settings__change-mobname.settings__change(type="button")
              img(src="/assets/images/icons/edit.svg" alt="edit")
            form.settings__popup.settings__popup-name(action="#")
              .settings__popup__step.active
                .mobile__header
                  .settings__close
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Name
                .settings__subtitle-small Write a new profile name
                input(
                  type="text"
                  placeholder="Enter your name"
                  name="name"
                  required
                )
                .settings__popup__buttons
                  button.settings__button-disabled.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                    type="submit"
                  ) Change
        tr
          td Email
          td
            span ReginaMiles@gmail.com
            button.settings__change(type="button")
              img(src="/assets/images/icons/edit.svg" alt="edit")
            form.settings__popup.settings__popup-mail(action="#")
              .settings__popup__step.settings__popup__first.active
                .mobile__header
                  .settings__close
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Change Email
                .settings__subtitle-small Write a new email
                input.error(
                  type="email"
                  placeholder="Enter your email"
                  name="email"
                  required
                )
                span.error-text The email address you entered is already in use
                .settings__popup__buttons
                  button.settings__button-next.settings__button.settings__button-active.settings__button-confirm.settings__button-disabled(
                    type="button"
                  ) Change
              .settings__popup__step.settings__popup__second
                .mobile__header
                  .settings__button-back
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Confirm email change
                .settings__popup__text Enter the code that will come to your mail <span id="settings-email">ReginaMiles@gmail.com</span>
                input(
                  type="text"
                  placeholder="Email code"
                  name="email-confirm"
                  required
                )
                .settings__popup__buttons
                  button.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                    type="submit"
                  ) Сonfirm
              .settings__popup__step.settings__popup__third
                .mobile__header
                  .settings__close
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Confirm email change
                .settings__popup__text A letter was sent to <br><span>ReginaMiles@gmail.com</span> <br> - open it and confirm the change of address. If there is no email, check Spam
        tr
          td Phone
          td
            span +66 123 456-78-90
            button.settings__change(type="button")
              img(src="/assets/images/icons/edit.svg" alt="edit")
            form.settings__popup.settings__popup-tel(action="#")
              .settings__popup__step.settings__popup__first.active
                .mobile__header
                  .settings__close
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Adding a number
                input(type="tel" placeholder="+66 ___ ___-__-__" required)
                .settings__popup__buttons
                  button.settings__button-next.settings__button.settings__button-active.settings__button-confirm.settings__button-disabled(
                    type="button"
                  ) Change
              .settings__popup__step.settings__popup__second
                .mobile__header
                  .settings__close
                    img.chat__header__icon(
                      src="/assets/images/icons/arrow-left-blue.svg"
                      alt="arrow-left-blue"
                    )
                .settings__popup__title Number confirmation
                .settings__popup__text Enter the code that will come to the number <span id="settings-tel">+66 123 456-78-90</span> within 2 minutes.
                input(type="text" placeholder="SMS code" required)
                .settings__popup__buttons
                  button.settings__button-back.settings__button.settings__button-white(
                    type="button"
                  ) Сhange number
                  button.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                    type="submit"
                  ) Change
              //- .settings__popup__step.settings__popup__second
              //- .mobile__header
              //- .settings__close
              //- img.chat__header__icon(
              //- src="/assets/images/icons/arrow-left-blue.svg"
              //- alt="arrow-left-blue"
              //- )
              //- .settings__popup__title The number is linked to another profile
              //- .settings__popup__text It will not work to verify the phone number <span id="settings-tel">+66 123 456-78-90</span> in this account.
              //- .settings__popup__buttons
              //- button.settings__button-back.settings__button.settings__button-white(
              //- type="button"
              //- ) Specify another number
      .profile-edit__block
        .profile-edit__header Deleting a profile
        .profile-edit__footer
          .profile-edit__value Everything will be deleted
          button.profile-edit__button.popup__delete__button(type="button")
            img(src="/assets/images/icons/edit.svg" alt="edit")