.rating
  .rating__amount
    .rating__number 4.3
    .rating__stars
      img.rating__star(
        src="/assets/images/icons/star-active.svg"
        alt="star-active"
      )
      img.rating__star(
        src="/assets/images/icons/star-active.svg"
        alt="star-active"
      )
      img.rating__star(
        src="/assets/images/icons/star-active.svg"
        alt="star-active"
      )
      img.rating__star(
        src="/assets/images/icons/star-active.svg"
        alt="star-active"
      )
      img.rating__star.rating__star-disabled(
        src="/assets/images/icons/star-disabled.svg"
        alt="star-disabled"
      )
  a.rating__reviews(href="#") 12 reviews