section.search
  .wrapper
    .search__wrapper
      .mobile__header
        a.close__map__mobile(href="#")
          img.chat__header__icon(
            src="/assets/images/icons/arrow-left-blue.svg"
            alt="arrow-left-blue"
          )
      .search__menu
        input(type="checkbox" name="menu")
        span Categories
        img(
          src="/assets/images/icons/arrow-down-blue.svg"
          alt="arrow-down-blue"
        )
      .search__geo
        button.search__geo-current(type="button")
          img(src="/assets/images/icons/pin-gray.svg" alt="pin-gray")
          span Thailand
        .header__search.countries__search
      include ./search-button.pug
      .search__categories
        .search__container
          .search__list.custom-scroll
            button.search__category(type="button" data-id="1")
              img.search__cat__image(
                src="/assets/images/search/item-1.png"
                alt="item-1"
              )
              span Property
              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="2")
              img.search__cat__image(
                src="/assets/images/search/item-2.png"
                alt="item-2"
              )
              span Pets

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category.active(type="button" data-id="3")
              img.search__cat__image(
                src="/assets/images/search/item-3.png"
                alt="item-3"
              )
              span Services

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="4")
              img.search__cat__image(
                src="/assets/images/search/item-4.png"
                alt="item-4"
              )
              span Car & Vehicles

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="5")
              img.search__cat__image(
                src="/assets/images/search/item-5.png"
                alt="item-5"
              )
              span Parts

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="6")
              img.search__cat__image(
                src="/assets/images/search/item-6.png"
                alt="item-6"
              )
              span Hobby

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="7")
              img.search__cat__image(
                src="/assets/images/search/item-7.png"
                alt="item-7"
              )
              span Garden

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="8")
              img.search__cat__image(
                src="/assets/images/search/item-8.png"
                alt="item-8"
              )
              span Jobs

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="9")
              img.search__cat__image(
                src="/assets/images/search/item-9.png"
                alt="item-9"
              )
              span Fashion

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="10")
              img.search__cat__image(
                src="/assets/images/search/item-10.png"
                alt="item-10"
              )
              span For kids

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="11")
              img.search__cat__image(
                src="/assets/images/search/item-11.png"
                alt="item-11"
              )
              span Electronics

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="12")
              img.search__cat__image(
                src="/assets/images/search/item-12.png"
                alt="item-12"
              )
              span Collecting

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="13")
              img.search__cat__image(
                src="/assets/images/search/item-13.png"
                alt="item-13"
              )
              span Furniture

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
            button.search__category(type="button" data-id="14")
              img.search__cat__image(
                src="/assets/images/search/item-14.png"
                alt="item-14"
              )
              span Other

              svg(
                fill="none"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
              )
                path(
                  d="M6.125 4.81245L8.74999 7.43745L6.125 10.0624"
                  stroke="#1A2030"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                )
          .search__innercats
            include ../mixins/search-innercat.pug
            +search-innercat('1', 'Property', '')
            +search-innercat('2', 'Pets', '')
            +search-innercat('3', 'Services', true)
            +search-innercat('4', 'Card & Vehicles', '')
            +search-innercat('5', 'Parts', '')
            +search-innercat('6', 'Hobby', '')
            +search-innercat('7', 'Garden', '')
            +search-innercat('8', 'Jobs', '')
            +search-innercat('9', 'Fashion', '')
            +search-innercat('10', 'For kids', '')
            +search-innercat('11', 'Electronics', '')
            +search-innercat('12', 'Collecting', '')
            +search-innercat('13', 'Furniture', '')
            +search-innercat('14', 'Other', '')