form.search__form(action="#")
  label.search__input
    img.search__icon(src="/assets/images/icons/search.svg" alt="search")
    img.search__settings(
      src="/assets/images/icons/settings-blue.svg"
      alt="settings-blue"
    )
    input(
      type="search"
      placeholder="Search"
      autocomplete="off"
      name="search"
      required
    )
    .search__results.custom-scroll
      a.search__results-item.search__results-main(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__arrow <---
        .search__results__text Car & Vehicles
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Camry
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Corolla
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Land Cruiser 100
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Land Cruiser 200 (2007 - 2012)
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Land Cruiser 200 restyling (2012 - 2015)
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Toyota Land Cruiser 200 restyling 2 (2015 - 2023)
      a.search__results-item.search__results-secondary(href="#")
        .search__results__title.search__results__title-blue Toyota
        .search__results__text Mark2
  button.search__button(type="submit") Find