.profile.settings
  .wrapper
    .page-layout
      aside.profile__sidebar
        .profile__sidebar__sticky
          .profile__sidebar__header
            .profile__sidebar__img
              img.profile__sidebar__photo(
                src="/assets/images/avatar-big.png"
                alt="avatar-big"
              )
              label.profile__upload.profile__upload-main
                input(type="file" accept="image/png, image/gif, image/jpeg")
            .profile__sidebar__title Regina Miles
            include ../components/rating.pug
          .profile__sidebar__links
            a.profile__sidebar__link(href="#") My announcements
            a.profile__sidebar__link(href="#") Favorites
            a.profile__sidebar__link(href="#") Messages
          .profile__sidebar__links
            a.profile__sidebar__link(href="#") Settings
            a.profile__sidebar__link.profile__sidebar__link-gray(href="#") Exit
      .profile__content
        h1.page__title.profile__title Settings
        .profile__block
          .settings__blocks
            .settings__block
              h2.settings__untitle Profile settings
              .settings__mobile
                .profile__block
                  .profile__sidebar__header
                    .profile__sidebar__left
                      .profile__sidebar__title Regina Miles
                      span.settings__subtitle Individual, user number - 1
                      include ../components/rating.pug
                    .profile__sidebar__img
                      img.profile__sidebar__photo(
                        src="/assets/images/avatar-big.png"
                        alt="avatar-big"
                      )
                  .settings__data
                    img.settings__data__photo(
                      src="/assets/images/icons/mail.svg"
                      alt="mail"
                    )
                    p ReginaMiles@gmail.com
                  .settings__data
                    img.settings__data__photo(
                      src="/assets/images/icons/calendar.svg"
                      alt="calendar"
                    )
                    p ReginaMiles@gmail.com
                  button.settings__button.settings__button-active.settings__profile__edit(
                    type="button"
                  ) Edit profile
                .profile__block
                  h3 My post
                  .settings__data
                    img.settings__data__photo(
                      src="/assets/images/icons/ads.svg"
                      alt="ads"
                    )
                    p 2 active ads
                  a.settings__button.settings__button-active(href="/my-post") Go to ads
                .profile__block
                  h3 My reviews
                  .settings__data
                    img.settings__data__photo(
                      src="/assets/images/icons/star-active.svg"
                      alt="star-active"
                    )
                    p 2 active ads
                  a.settings__button.settings__button-active(href="/reviews") Go to my reviews
                .profile__block
                  h3 Contact Information
                  .settings__data
                    img.settings__data__photo(
                      src="/assets/images/icons/pin.svg"
                      alt="pin"
                    )
                    p 2 City: Bangkok
                  button.settings__change.settings__button.settings__button-active(
                    type="button"
                  ) Choose another
                  form.settings__popup.settings__popup-city.profile-edit-city.profile-edit__change(
                    action="#"
                  )
                    .settings__popup__step.active
                      .mobile__header.settings__popup__header
                        .settings__close
                          img.chat__header__icon(
                            src="/assets/images/icons/arrow-left-blue.svg"
                            alt="arrow-left-blue"
                          )
                        .filter__search__input
                          img.filter__search__icon(
                            src="/assets/images/icons/search.svg"
                            alt="search"
                          )
                          input(
                            type="search"
                            placeholder="Search"
                            name="search"
                            required
                          )
                        img.chat__header__icon(
                          src="/assets/images/icons/pin-blue.svg"
                          alt="pin-blue"
                        )
                      .settings__list
                        .filter__labels.custom-scroll
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Nonthaburi"
                            )
                            span.filter__radio Nonthaburi
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Chumphon"
                            )
                            span.filter__radio Chumphon
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Nat"
                            )
                            span.filter__radio Nat
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Surin"
                            )
                            span.filter__radio Surin
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Narathiwat"
                            )
                            span.filter__radio Narathiwat
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Songkhla"
                            )
                            span.filter__radio Songkhla
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Prachinburi"
                            )
                            span.filter__radio Prachinburi
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Yala"
                            )
                            span.filter__radio Yala
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Ratchaburi"
                            )
                            span.filter__radio Ratchaburi
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Phrae"
                            )
                            span.filter__radio Phrae
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Bueng Kan"
                            )
                            span.filter__radio Bueng Kan
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Sing Buri"
                            )
                            span.filter__radio Sing Buri
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Rayong"
                            )
                            span.filter__radio Rayong
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Samut Sakhon"
                            )
                            span.filter__radio Samut Sakhon
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Sing Buri"
                            )
                            span.filter__radio Sing Buri
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Sing Buri"
                            )
                            span.filter__radio Sing Buri
                          label.filter__label
                            input.filter__input(
                              type="radio"
                              name="city"
                              value="Sing Buri"
                            )
                            span.filter__radio Sing Buri
                button.settings__knob.settings__change(type="button")
                  span Change password
                form.settings__popup.settings__popup-password.profile-edit.profile-edit__change(
                  action="#"
                )
                  .settings__popup__step.active
                    .mobile__header
                      .settings__close
                        img.chat__header__icon(
                          src="/assets/images/icons/arrow-left-blue.svg"
                          alt="arrow-left-blue"
                        )
                    .settings__popup__title Create a new password
                    .settings__subtitle-small Write a new password
                    .settings__inputs
                      .settings__input.settings__input__password.settings__popup__buttons
                        input(
                          type="password"
                          placeholder="New password"
                          name="current-password"
                          required
                        )
                        img.settings__input__icon.password-show(
                          src="/assets/images/icons/eyeslash.svg"
                          alt="eyeslash"
                        )
                        img.settings__input__icon.symbols-show(
                          src="/assets/images/icons/eye.svg"
                          alt="eye"
                        )
                      .settings__input.settings__input__password
                        input(
                          type="password"
                          placeholder="Repeat the password"
                          name="new-password"
                          required
                        )
                        img.settings__input__icon.password-show(
                          src="/assets/images/icons/eyeslash.svg"
                          alt="eyeslash"
                        )
                        img.settings__input__icon.symbols-show(
                          src="/assets/images/icons/eye.svg"
                          alt="eye"
                        )
                    .settings__popup__buttons
                      button.settings__button-disabled.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                        type="submit"
                      ) Change
                button.settings__knob(type="button")
                  span Exit
              table
                tr
                  td Name
                  td Regina Miles
                    button.settings__snap.settings__change-name(type="button") Сhange
                    form.settings__open(action="#")
                      .settings__buttons
                        .settings__input
                          input(
                            type="text"
                            placeholder="Enter your name"
                            name="name"
                            required
                          )
                        button.settings__snap.settings__save(type="submit") Save
                tr
                  td Email
                  td ReginaMiles@gmail.com
                    button.settings__snap.settings__change(type="button") Сhange
                    form.settings__popup.settings__popup-mail(action="#")
                      .settings__popup__step.settings__popup__first.active
                        .settings__popup__title Change Email
                        .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        input.error(
                          type="email"
                          placeholder="Enter your email"
                          name="email"
                          required
                        )
                        span.error-text The email address you entered is already in use
                        .settings__popup__buttons
                          button.settings__button-next.settings__button.settings__button-active(
                            type="button"
                          ) Save
                      .settings__popup__step.settings__popup__second
                        .settings__popup__title Confirm email change
                        .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        .settings__popup__text Enter the code that will come to your mail <span id="settings-email">ReginaMiles@gmail.com</span>
                        input(
                          type="text"
                          placeholder="Email code"
                          name="email-confirm"
                          required
                        )
                        .settings__popup__buttons
                          button.settings__button-back.settings__button.settings__button-white(
                            type="button"
                          ) Сhange email
                          button.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                            type="submit"
                          ) Сonfirm
                      .settings__popup__step.settings__popup__third
                        .settings__popup__title Confirm email change
                        .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        .settings__popup__text A letter was sent to <br><span>ReginaMiles@gmail.com</span> <br> - open it and confirm the change of address. If there is no email, check Spam
                tr
                  td Phone
                  td +66 123 456-78-90
                    button.settings__snap.settings__change(type="button") Сhange
                    form.settings__popup.settings__popup-tel(action="#")
                      .settings__popup__step.settings__popup__first.active
                        .settings__popup__title Adding a number
                        .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        input(
                          type="tel"
                          placeholder="+66 ___ ___-__-__"
                          required
                        )
                        .settings__popup__buttons
                          button.settings__button-next.settings__button.settings__button-active(
                            type="button"
                          ) Save
                      .settings__popup__step.settings__popup__second
                        .settings__popup__title Number confirmation
                        .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        .settings__popup__text Enter the code that will come to the number <span id="settings-tel">+66 123 456-78-90</span> within 2 minutes.
                        input(type="text" placeholder="SMS code" required)
                        .settings__popup__buttons
                          button.settings__button-back.settings__button.settings__button-white(
                            type="button"
                          ) Сhange number
                          button.settings__button-next.settings__button.settings__button-active.settings__button-confirm(
                            type="submit"
                          ) Сonfirm
            .settings__block.settings__hide
              h2 Contact Information
              table.settings__table__city
                tr
                  td City
                  td
                    span#city Bangkok
                    button.settings__snap.settings__change(type="button") Choose another
                    .settings__popup.settings__popup-city
                      .settings__popup__title City selection
                      .settings__close <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="6" fill="white"/><path d="M26.5 14.002L13.9987 26.5033" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.5 26.502L13.9987 14.0006" stroke="#1D5BFB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      .filter__search__input
                        img.filter__search__icon(
                          src="/assets/images/icons/search.svg"
                          alt="search"
                        )
                        input(
                          type="search"
                          placeholder="Search"
                          name="search"
                          required
                        )
                      .settings__list
                        .settings__list__inner.custom-scroll.custom-scroll-small
                          button.settings__name.active(type="button") Bangkok
                          button.settings__name(type="button") Pattaya
                          button.settings__name(type="button") Patong
                          button.settings__name(type="button") Phuket
                          button.settings__name(type="button") Trat
                          button.settings__name(type="button") Bread
                          button.settings__name(type="button") Bangkok
                          button.settings__name(type="button") Pattaya
                          button.settings__name(type="button") Patong
                          button.settings__name(type="button") Phuket
                      .settings__popup__buttons
                        button.settings__button.settings__button-active.settings__button-confirm(
                          type="button"
                        ) Change
            .settings__block.settings__hide
              h2 Change Password
              table.settings__table__password
                tr
                  td Password
                  td
                    form.settings__form(action="#")
                      .settings__inputs
                        .settings__input.settings__input__password
                          input(
                            type="password"
                            placeholder="Current password"
                            name="current-password"
                            required
                          )
                          img.settings__input__icon.password-show(
                            src="/assets/images/icons/eyeslash.svg"
                            alt="eyeslash"
                          )
                          img.settings__input__icon.symbols-show(
                            src="/assets/images/icons/eye.svg"
                            alt="eye"
                          )
                        .settings__input.settings__input__password
                          input(
                            type="password"
                            placeholder="New password"
                            name="new-password"
                            required
                          )
                          img.settings__input__icon.password-show(
                            src="/assets/images/icons/eyeslash.svg"
                            alt="eyeslash"
                          )
                          img.settings__input__icon.symbols-show(
                            src="/assets/images/icons/eye.svg"
                            alt="eye"
                          )
                      button.settings__button.settings__button-change.settings__button-disabled(
                        type="submit"
                      ) Save
            .settings__block.settings__hide
              h2 Deleting a profile
              table.settings__table__delete
                tr
                  td Everything will be deleted
                  td
                    button.settings__snap(type="button") Delete