.stars__rating
  .stars__rating__wrap
    input#star-rating-5.stars__rating__input(
      type="radio"
      name="stars__rating"
      value="5"
    )
    label.stars__rating__label(for="star-rating-5")
      svg(
        fill="none"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
      )
        path(
          d="M20.947 8.17901C20.8842 7.99388 20.7685 7.83121 20.6142 7.71107C20.46 7.59094 20.2739 7.51861 20.079 7.50301L14.378 7.05001L11.911 1.58901C11.8325 1.41313 11.7047 1.26374 11.5431 1.15887C11.3815 1.05401 11.193 0.998153 11.0003 0.998047C10.8077 0.997941 10.6192 1.05359 10.4575 1.15828C10.2957 1.26296 10.1678 1.41221 10.089 1.58801L7.62203 7.05001L1.92103 7.50301C1.72948 7.51819 1.54636 7.58823 1.39358 7.70475C1.2408 7.82127 1.12482 7.97934 1.05952 8.16004C0.99422 8.34075 0.982364 8.53645 1.02537 8.72372C1.06838 8.91099 1.16443 9.0819 1.30203 9.21601L5.51503 13.323L4.02503 19.775C3.97978 19.9703 3.99428 20.1747 4.06665 20.3617C4.13901 20.5486 4.26589 20.7095 4.43083 20.8235C4.59577 20.9374 4.79114 20.9991 4.99161 21.0007C5.19207 21.0022 5.38837 20.9434 5.55503 20.832L11 17.202L16.445 20.832C16.6154 20.9451 16.8162 21.0033 17.0207 20.9988C17.2251 20.9944 17.4232 20.9274 17.5884 20.8069C17.7536 20.6865 17.878 20.5183 17.9448 20.3251C18.0116 20.1318 18.0176 19.9228 17.962 19.726L16.133 13.326L20.669 9.24401C20.966 8.97601 21.075 8.55801 20.947 8.17901Z"
          fill="#FFFFFF"
          stroke="#F3CD03"
        )
    input#star-rating-4.stars__rating__input(
      type="radio"
      name="stars__rating"
      value="4"
    )
    label.stars__rating__label(for="star-rating-4")
      svg(
        fill="none"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
      )
        path(
          d="M20.947 8.17901C20.8842 7.99388 20.7685 7.83121 20.6142 7.71107C20.46 7.59094 20.2739 7.51861 20.079 7.50301L14.378 7.05001L11.911 1.58901C11.8325 1.41313 11.7047 1.26374 11.5431 1.15887C11.3815 1.05401 11.193 0.998153 11.0003 0.998047C10.8077 0.997941 10.6192 1.05359 10.4575 1.15828C10.2957 1.26296 10.1678 1.41221 10.089 1.58801L7.62203 7.05001L1.92103 7.50301C1.72948 7.51819 1.54636 7.58823 1.39358 7.70475C1.2408 7.82127 1.12482 7.97934 1.05952 8.16004C0.99422 8.34075 0.982364 8.53645 1.02537 8.72372C1.06838 8.91099 1.16443 9.0819 1.30203 9.21601L5.51503 13.323L4.02503 19.775C3.97978 19.9703 3.99428 20.1747 4.06665 20.3617C4.13901 20.5486 4.26589 20.7095 4.43083 20.8235C4.59577 20.9374 4.79114 20.9991 4.99161 21.0007C5.19207 21.0022 5.38837 20.9434 5.55503 20.832L11 17.202L16.445 20.832C16.6154 20.9451 16.8162 21.0033 17.0207 20.9988C17.2251 20.9944 17.4232 20.9274 17.5884 20.8069C17.7536 20.6865 17.878 20.5183 17.9448 20.3251C18.0116 20.1318 18.0176 19.9228 17.962 19.726L16.133 13.326L20.669 9.24401C20.966 8.97601 21.075 8.55801 20.947 8.17901Z"
          fill="#FFFFFF"
          stroke="#F3CD03"
        )
    input#star-rating-3.stars__rating__input(
      type="radio"
      name="stars__rating"
      value="3"
    )
    label.stars__rating__label(for="star-rating-3")
      svg(
        fill="none"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
      )
        path(
          d="M20.947 8.17901C20.8842 7.99388 20.7685 7.83121 20.6142 7.71107C20.46 7.59094 20.2739 7.51861 20.079 7.50301L14.378 7.05001L11.911 1.58901C11.8325 1.41313 11.7047 1.26374 11.5431 1.15887C11.3815 1.05401 11.193 0.998153 11.0003 0.998047C10.8077 0.997941 10.6192 1.05359 10.4575 1.15828C10.2957 1.26296 10.1678 1.41221 10.089 1.58801L7.62203 7.05001L1.92103 7.50301C1.72948 7.51819 1.54636 7.58823 1.39358 7.70475C1.2408 7.82127 1.12482 7.97934 1.05952 8.16004C0.99422 8.34075 0.982364 8.53645 1.02537 8.72372C1.06838 8.91099 1.16443 9.0819 1.30203 9.21601L5.51503 13.323L4.02503 19.775C3.97978 19.9703 3.99428 20.1747 4.06665 20.3617C4.13901 20.5486 4.26589 20.7095 4.43083 20.8235C4.59577 20.9374 4.79114 20.9991 4.99161 21.0007C5.19207 21.0022 5.38837 20.9434 5.55503 20.832L11 17.202L16.445 20.832C16.6154 20.9451 16.8162 21.0033 17.0207 20.9988C17.2251 20.9944 17.4232 20.9274 17.5884 20.8069C17.7536 20.6865 17.878 20.5183 17.9448 20.3251C18.0116 20.1318 18.0176 19.9228 17.962 19.726L16.133 13.326L20.669 9.24401C20.966 8.97601 21.075 8.55801 20.947 8.17901Z"
          fill="#FFFFFF"
          stroke="#F3CD03"
        )
    input#star-rating-2.stars__rating__input(
      type="radio"
      name="stars__rating"
      value="2"
    )
    label.stars__rating__label(for="star-rating-2")
      svg(
        fill="none"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
      )
        path(
          d="M20.947 8.17901C20.8842 7.99388 20.7685 7.83121 20.6142 7.71107C20.46 7.59094 20.2739 7.51861 20.079 7.50301L14.378 7.05001L11.911 1.58901C11.8325 1.41313 11.7047 1.26374 11.5431 1.15887C11.3815 1.05401 11.193 0.998153 11.0003 0.998047C10.8077 0.997941 10.6192 1.05359 10.4575 1.15828C10.2957 1.26296 10.1678 1.41221 10.089 1.58801L7.62203 7.05001L1.92103 7.50301C1.72948 7.51819 1.54636 7.58823 1.39358 7.70475C1.2408 7.82127 1.12482 7.97934 1.05952 8.16004C0.99422 8.34075 0.982364 8.53645 1.02537 8.72372C1.06838 8.91099 1.16443 9.0819 1.30203 9.21601L5.51503 13.323L4.02503 19.775C3.97978 19.9703 3.99428 20.1747 4.06665 20.3617C4.13901 20.5486 4.26589 20.7095 4.43083 20.8235C4.59577 20.9374 4.79114 20.9991 4.99161 21.0007C5.19207 21.0022 5.38837 20.9434 5.55503 20.832L11 17.202L16.445 20.832C16.6154 20.9451 16.8162 21.0033 17.0207 20.9988C17.2251 20.9944 17.4232 20.9274 17.5884 20.8069C17.7536 20.6865 17.878 20.5183 17.9448 20.3251C18.0116 20.1318 18.0176 19.9228 17.962 19.726L16.133 13.326L20.669 9.24401C20.966 8.97601 21.075 8.55801 20.947 8.17901Z"
          fill="#FFFFFF"
          stroke="#F3CD03"
        )
      </svg>
    input#star-rating-1.stars__rating__input(
      type="radio"
      name="stars__rating"
      value="1"
    )
    label.stars__rating__label(for="star-rating-1")
      svg(
        fill="none"
        viewBox="0 0 22 22"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
      )
        path(
          d="M20.947 8.17901C20.8842 7.99388 20.7685 7.83121 20.6142 7.71107C20.46 7.59094 20.2739 7.51861 20.079 7.50301L14.378 7.05001L11.911 1.58901C11.8325 1.41313 11.7047 1.26374 11.5431 1.15887C11.3815 1.05401 11.193 0.998153 11.0003 0.998047C10.8077 0.997941 10.6192 1.05359 10.4575 1.15828C10.2957 1.26296 10.1678 1.41221 10.089 1.58801L7.62203 7.05001L1.92103 7.50301C1.72948 7.51819 1.54636 7.58823 1.39358 7.70475C1.2408 7.82127 1.12482 7.97934 1.05952 8.16004C0.99422 8.34075 0.982364 8.53645 1.02537 8.72372C1.06838 8.91099 1.16443 9.0819 1.30203 9.21601L5.51503 13.323L4.02503 19.775C3.97978 19.9703 3.99428 20.1747 4.06665 20.3617C4.13901 20.5486 4.26589 20.7095 4.43083 20.8235C4.59577 20.9374 4.79114 20.9991 4.99161 21.0007C5.19207 21.0022 5.38837 20.9434 5.55503 20.832L11 17.202L16.445 20.832C16.6154 20.9451 16.8162 21.0033 17.0207 20.9988C17.2251 20.9944 17.4232 20.9274 17.5884 20.8069C17.7536 20.6865 17.878 20.5183 17.9448 20.3251C18.0116 20.1318 18.0176 19.9228 17.962 19.726L16.133 13.326L20.669 9.24401C20.966 8.97601 21.075 8.55801 20.947 8.17901Z"
          fill="#FFFFFF"
          stroke="#F3CD03"
        )